.form {
  margin-top: 2rem;
  color: $dark_gray;
  padding-bottom: 2rem;

  &__group {
    width: 100%;
    margin: 3rem 0rem;
    justify-content: space-between;
    position: relative;

    i,
    img {
      width: 2rem;
      position: absolute;
      bottom: 1.8rem;
      left: 8px;
      font-size: 1.3rem;
      transform: translate(50% 50%);
    }
  }

  &__name {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 1.25rem;
    font-weight: 600;

    @include respond(tab-port) {
      font-size: 1.93rem;
    }

    @include respond(phone) {
      font-size: 1.63rem;
    }
  }

  &__select,
  &__input {
    width: 100%;
    border: none;
    padding: 1.5rem 2.3rem;
    border-bottom: 1px solid $color-gray-3;
    padding: 1.5rem 0.8rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid #c4c4c4;
    background-color: $color-gray-6;
    font-size: 1.23rem;
    font-weight: 300;
    transition: all 0.3s;
    border-radius: $border-radius-box;

    &::placeholder {
      color: $color-gray-1;
      opacity: 0.7;
    }

    color: $color-gray-1;
    opacity: 0.7;
    font-weight: 500;

    @include respond(tab-port) {
      font-size: 1.83rem;
      letter-spacing: 1px;
      padding: 1.3rem 1.2rem;
    }

    @include respond(phone) {
      font-size: 1.58rem;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $color-primary-tango !important;
      border: none;
      background-color: $color-gray-6;
    }

    &:focus-visible {
      border: none;
      border-bottom: 2px solid $color-primary-tango;
      background-color: $color-gray-6;
    }

    option {
      background-color: #fff;
      font-size: 1.3rem;
      font-weight: 200;
      display: block;

      @include respond(tab-port) {
        font-size: 1.93rem;
      }

      @include respond(phone) {
        font-size: 1.54rem;
      }

      span {
        color: red !important;
        font-size: 1.3rem;
      }
    }
  }

  &__text {
    font-size: 1.2rem;
    margin-left: 0.5rem;

    @include respond(tab-port) {
      font-size: 1.93rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
    }

    &--2 {
      color: $color-primary-tango;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 2rem;

      @include respond(tab-port) {
        font-size: 1.93rem;
      }

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  &__info {
    display: inline-block;
    margin-right: 1rem;
    color: $color-black2;

    &:not(:first-child) {
      margin-left: 1rem;
      text-align: right;
    }
  }

  &__total {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;

    @include respond(tab-port) {
      font-size: 1.93rem;
    }

    @include respond(phone) {
      font-size: 1.55rem;
    }

    &--amount {
      color: $color-primary-tango;
    }
  }

  &__d-flex {
    display: flex;
    justify-content: flex-start;
  }

  &__d-item {
    margin-right: 2rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    input[type="radio"] {
      display: none;

      &:checked ~ label {
        color: $color-primary-tango;
        font-weight: 700;

        span {
          color: #fff;
          font-weight: 500;
          font-size: 0.9em;
          border-color: $color-primary-tango;
          background: $color-primary-tango;
          display: flex;
          justify-content: center;
          align-items: center;

          &::after {
            content: "\2713";
            vertical-align: middle;
          }
        }
      }
    }

    label {
      display: flex;
      cursor: pointer;

      span {
        width: 14px;
        height: 14px;
        border: 2px solid $color-gray-3;
        border-radius: 3px;
        margin-right: 0.5em;
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;

    @include respond(phone) {
      grid-template-columns: 100%;
      grid-gap: 3rem;
    }

    > * {
      margin: 0;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @include respond(tab-port) {
      padding: 0;

      .actions__pay {
        > * {
          padding: 1rem;
        }
      }
    }
  }
}

.actions__pay {
  display: flex;
  justify-content: center;
  width: 100%;

  .btn {
    margin: 0rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;

    @include respond(tab-port) {
      font-size: 1.73rem;
      margin-top: 1.5rem;
    }

    @include respond(phone) {
      width: 80%;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
  }
}

.mobile-heading {
  @include respond(phone) {
    margin-top: 2rem;
  }
}

#land-sales__details {
  display: none;
}

#payment__plan {
  display: none;
}

#installment__details {
  display: none;
}

#installment__payment {
  display: none;
}

#payment__btn {
  display: none;
}

.form__block {
  display: block !important;
}

.form__flex {
  display: flex !important;
}
