.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d;
  overflow: hidden;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__text-box {
    position: absolute;
    @include centerBox;
    text-align: center;
  }

  &__text {
    font-size: 2rem;
    font-weight: 300;
    color: $color-gray-4;
    backface-visibility: hidden;
    animation: moveInUp 2s ease-out backwards 5s;
  }
}

#text-loader {
  width: 40rem;
  animation: animeFill 0.5s ease forwards 5s;
  @include respond(tab-port) {
    width: 38rem;
  }
  @include respond(phone) {
    // width < 350?
    width: 29rem;
  }

  path {
    stroke: $color-gray-5;
  }
}
#text-loader path:nth-child(1) {
  stroke-dasharray: 593.7;
  stroke-dashoffset: 593.7;
  animation: animeLoader 2s ease forwards;
}

#text-loader path:nth-child(2) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  animation: animeLoader 2s ease forwards 0.3s;
}
#text-loader path:nth-child(3) {
  stroke-dasharray: 506.8;
  stroke-dashoffset: 506.8;
  animation: animeLoader 2s ease forwards 0.6s;
}
#text-loader path:nth-child(4) {
  stroke-dasharray: 506.8;
  stroke-dashoffset: 506.8;
  animation: animeLoader 2s ease forwards 0.9s;
}
#text-loader path:nth-child(5) {
  stroke-dasharray: 282.9;
  stroke-dashoffset: 282.9;
  animation: animeLoader 2s ease forwards 1.2s;
}
#text-loader path:nth-child(6) {
  stroke-dasharray: 468.7;
  stroke-dashoffset: 468.7;
  animation: animeLoader 2s ease forwards 1.5s;
}
#text-loader path:nth-child(7) {
  stroke-dasharray: 387.4;
  stroke-dashoffset: 387.4;
  animation: animeLoader 2s ease forwards 1.8s;
}
#text-loader path:nth-child(8) {
  stroke-dasharray: 459.6;
  stroke-dashoffset: 459.6;
  animation: animeLoader 2s ease forwards 2.1s;
}
#text-loader path:nth-child(9) {
  stroke-dasharray: 438;
  stroke-dashoffset: 438;
  animation: animeLoader 2s ease forwards 2.4s;
}
#text-loader path:nth-child(10) {
  stroke-dasharray: 423.3;
  stroke-dashoffset: 423.3;
  animation: animeLoader 2s ease forwards 2.7s;
}
#text-loader path:nth-child(11) {
  stroke-dasharray: 468.7;
  stroke-dashoffset: 468.7;
  animation: animeLoader 2s ease forwards 3.1s;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
